body {
    max-width: 1096px;
    margin: 0 auto;
}

p {
    margin: 0;
}

.content {
    margin-top: 30%;
    background-color: antiquewhite;
    border-radius: 5px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.gameBoard {
    margin: 0 auto;
    text-align: center;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.topChar {
    display: flex;
    margin-left: 25px;
    height: 25px;
}

.topChar p {
    width: 25px;
    height: 25px;
}

.abc {
    display: flex;
    margin: 0 auto;
}

.line {
    height: 25px;
}

.submarine {
    margin-top: 25px;
    width: 25px;
    display: flex;
    flex-direction: column;
    background: none;
}

.ships {
    display: flex;
    justify-content: space-between;
}

.submarine button {
    width: 25px;
    height: 25px;
    background: red;
    border: 1px solid black;
}

.ship {
    background-color: red;
}

.leftChar {
    display: flex;
    flex-direction: column;
}

.leftChar p {
    height: 25px;
    width: 25px;
    text-align: center;
}

.playerBoard {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
}

.field {
    width: 25px;
    height: 25px;
    margin: 0;
    background: none;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 0;
}

.modal {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 250px;
    min-height: 50px;
    /* background-color: red; */
}

.notify{
    width: 95%;
    height: 50px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: notification;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    margin-top: 10px;
    overflow: hidden;
}

@keyframes notification {
    0% {
        height: 0px;
    }
    100% {
       height: 50px;
    }
    
}

.horizontal {
    flex-direction: row;
    width: auto;
    height: 25px;
}

.choosePrepare {
    margin-top: 30px;
    margin-left: 25px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.chooseButton {
    height: 25px;
    width: 100px;
    background: none;
    border: 1px solid black;
    cursor: pointer;
}

.chooseButton:hover {
    transition: 0.1s ease all;
    background: white;
}

.success {
    background-color: green;
}
.fail {
    margin-left: 20px;
    background-color: brown;
}